/*
 * Tweaks and overrides to hyde.css
 */

.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: 'Quattrocento', serif;
  font-size: 2.5rem;
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1rem;
}

.sidebar-sticky {
  font-size: 0.8rem;
}

.sidebar {
    /* background-color: #51121E;*/
    /* New book blue */
    background-color: #2585C1;
}

.contact-button {
    /* background-color: #51121E; */
    /* New book blue */
    background-color: #2585C1;
}


html {
  font-family: 'Quattrocento Sans', sans-serif;
}

p.clip-attribute {
  text-align: right;
  font-size: 0.8rem;
}

/* From http://askthecssguy.com/articles/showing-hyperlink-cues-with-css/ */

/* all A tags whose HREF attribute ends in .pdf */
a[href$='.pdf'] { 
	padding-left: 18px;
	background: transparent url(/new/icons/icon_pdf.gif) no-repeat center left;
}

/* all A tags whose REL attribute equals pdf */
a[rel='pdf'] { 
	padding-left: 18px;
	background: transparent url(/new/icons/icon_pdf.gif) no-repeat center left;
}

/*  all A tags whose REL attributes has the letters pdf somewhere mixed in*/
a[rel*='pdf'] { 
	padding-left: 18px;
	background: transparent url(/new/icons/icon_pdf.gif) no-repeat center left;
}

/* all A tags whose REL attribute contains the value pdf, seperated from other values with a space */
a[rel~='pdf'] { 
	padding-left: 18px;
	background: transparent url(/new/icons/icon_pdf.gif) no-repeat center left;
}

/* all A tags whose HREF attribute starts with mailto: */
a[href ^="mailto:"] {
	padding-left: 18px;
    background: transparent url(/new/icons/icon_mailto.gif) no-repeat center left;
   
}

/* all A tags whose CLASS attribute is popup */
a[class ="popup"] {
	padding-left: 18px;
    background: transparent url(/new/icons/icon_popup.gif) no-repeat center left;
}


a[href$='.doc'] { 
	padding-left: 18px;
	background: transparent url(/new/icons/icon_doc.gif) no-repeat center left;
}
a[href$='.xls'] { 
	padding-left: 18px;
	background: transparent url(/new/icons/icon_xls.gif) no-repeat center left;
}
a[rel ~='external'] {
	padding-left: 18px;
	background: transparent url(/new/icons/icon_external.gif) no-repeat center left;
}

.sidebarblock {
	  background-color: lightyellow;
	  margin: 20px;
    shadow:
	  border: 1px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebarblock .content {
	  margin-left: 40px;
	  margin-right: 40px;
	  padding-top: 40px;
	  padding-bottom: 40px;
}

.sidebarblock .title {
    text-align: center;
    font-weight: bold;
    line-height: 2.75;
}

.quoteblock {
	  margin-top: 30px;
	  margin-bottom: 30px;
}

.quoteblock blockquote {
	  margin-top: 0px;
	  margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.quoteblock .attribution {
    text-align: right;
}

.admonitionblock .content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.title:after {
    content: '';
    display: block;
    height: 40px;  /*height of icon */
    width: 40px;  /*width of icon */
    position: absolute;
    /*where to replace the icon */
    top: 0px;
    left: -40px;
    /*background */
    background: #F8E6AE url(/images/avatar.jpg) no-repeat 0px 0px;
}

.toc {
 	  border-top: 1px solid #000000;
 	  border-bottom: 1px solid #000000;
}

#toctitle {
    font-weight: bold;
    line-height: 2.75;
}
